services:
  - type: web
    name: bot-planilla-backend
    env: java
    buildCommand: mvn clean package -DskipTests
    startCommand: java -jar target/bot-planilla-backend-1.0.0.jar --spring.profiles.active=prod
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false
